<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <path id="mail/general/default/disabled">
        <value>0</value>
        <visibility>4</visibility>
    </path>
    <path id="mail/general/default/development">
        <value>0</value>
        <visibility>4</visibility>
    </path>
    <path id="mail/general/default/mailer">
        <value>smtp</value>
        <visibility>4</visibility>
    </path>
    <path id="mail/general/default/host">
        <value>smtp.gmail.com</value>
        <visibility>4</visibility>
    </path>
    <path id="mail/general/default/port">
        <value>465</value>
        <visibility>4</visibility>
    </path>
    <path id="mail/general/default/username">
        <value>noreply@dewelio.com</value>
        <visibility>4</visibility>
    </path>
    <path id="mail/general/default/password">
        <value>uqsabadzacekvlrc</value>
        <visibility>4</visibility>
    </path>
    <path id="mail/general/default/encryption">
        <value>ssl</value>
        <visibility>4</visibility>
    </path>
    <path id="mail/general/default/from_address">
        <value>noreply@dewelio.com</value>
        <visibility>4</visibility>
    </path>
    <path id="mail/general/default/from_name">
        <value>Dewelio</value>
        <visibility>4</visibility>
    </path>
    <path id="mail/general/development/email">
        <value>devel@dewelio.com</value>
        <visibility>4</visibility>
    </path>
    <path id="mail/general/mailing/bcc">
        <value></value>
        <visibility>4</visibility>
    </path>
</config>
